/*
    Landing Page CSS 
*/

* {
    font-family: Inter, 'Helvetica Neue', Helvetica, sans-serif;
}

.main-content {
    overflow-x: hidden;
}

nav .logo {
    background-image: url(/images/white.png);
    background-size: contain;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    margin-right: 50px;
}

nav .navbar-item {
    vertical-align: middle;
    line-height: 80px;
}

nav .navbar-item a {
    color: white;
    cursor: pointer;
}

section.hero {
    padding: 20px 40px;
    min-height: 675px;
    background: linear-gradient(103.15deg, #33CEFF 9.79%, rgba(121, 234, 193, 0.921875) 78.74%);
}

section.hero.hero-small {
    padding: 20px 40px;
    min-height: 320px;
    background: linear-gradient(103.15deg, #33CEFF 9.79%, rgba(121, 234, 193, 0.921875) 78.74%);
}

section.hero h1 {
    padding: 20px 20px 20px 0px;
    font-size: 60px;
    color: white;
}

section.hero .faded-text {
    opacity: 0.8;
}

.button-container {
    margin-bottom: 100px;
}

.button-holder {
    margin: 20px 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.button-holder:hover {
    filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.button-holder > a > span {
    color: #52D9E9;
    font-weight: bold;
}

.discord-holder > * {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

.discord-holder {
    position: absolute;
    z-index: 3;
}

.discord-holder.is-second-holder {
    padding-top: 50px;
}


.message {
    animation: load-in-1 2s linear 1s normal 1;
    -webkit-animation: load-in-1 2s linear 1s normal 1;
    -moz-animation: load-in-1 2s linear 1s normal 1;
}

.second-message {
    animation-name: load-in-2;
    animation-duration: 2s;
}

.third-message {
    animation-name: load-in-3;
    animation-duration: 2s;
}

.fourth-message {
    animation-name: load-in-4;
    animation-duration: 2s;
}

@keyframes load-in-1 {
    0% { opacity: 0; transform: translate(0, 20px); }
    25% { opacity: 1; transform: translate(0, 0); }
    100% { opacity: 1; transform: translate(0, 0); }
}

@keyframes load-in-2 {
    0% { opacity: 0; transform: translate(0, 20px); }
    25% { opacity: 0; transform: translate(0, 20px); }
    50% { opacity: 1; transform: translate(0, 0); }
    100% { opacity: 1; transform: translate(0, 0); }
}

@keyframes load-in-3 {
    0% { opacity: 0; transform: translate(0, 20px); }
    50% { opacity: 0; transform: translate(0, 20px); }
    75% { opacity: 1; transform: translate(0, 0); }
    100% { opacity: 1; transform: translate(0, 0); }
}

@keyframes load-in-4 {
    0% { opacity: 0; transform: translate(0, 20px); }
    75% { opacity: 0; transform: translate(0, 20px); }
    100% { opacity: 1; transform: translate(0, 0); }
}

.status-bar {
    background-color: #7789D4;
    padding: 5px
}


.profile-picture {
    height: 56px;
    width: 56px;
    border-radius: 100%;
    border: 4px solid #5168C8;
    background-image: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.profile-name {
    padding-left: 10px;
}

.status-column {
    height: 56px;
    text-align: center;
}

.translucent {
    opacity: 0.6;
}

.status-content {
    display: inline-block;
    font-weight: bold;
    color:white;
    vertical-align: top;
    line-height: 56px;
    min-width: 100px;
}

.status-indicator {
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #dddddd;
    border-radius: 100%;
    position: relative;
    top: -50%;
    transform: translateY(50%);
}

.status-indicator.online {
    background: #6FCF97;
}

.dark-mode {
    background: #40444C;
    color: #fafafa;
    min-height:480px;
}

.dark-mode h2.section-heading {
    color: #52D9E9;
    font-size: 48px;
    padding: 60px 0 30px 0;
    text-align: center;
    font-weight: bold;
}

ul.game-list {
    list-style: none;
    font-size: 32px;
    padding: 30px;
}

ul.game-list li {
    padding-bottom: 20px;
}

.tiles {
    background-color: #f2f2f2;
}

.tiles > .column {
    text-align: center;
    padding: 80px 10px;
}

.icon-holder {
    height: 80px;
    width: 80px;
    margin: 0 auto;
}

h6.icon-title {
    font-size: 24px;
    font-weight: bold
}

div.icon-title {
    font-size: 24px;
}

footer {
    background-color: #40444C;
    color: #fafafa;
    text-align: center;
    padding: 50px;
}

/* Tablet */
@media screen and (max-width: 769px), print {
    section.hero h1 {
        font-size: 36px;
    }


    .discord-holder, .is-0-tablet {
        display: none;
    }

    .profile-name {
        padding-left: 0px;
    }
    
}

/* Mobile */
@media screen and (max-width: 480px), print {
    section {
        min-height: 0px;
    }

    section.hero {
        padding: 20px;
    }

    section.hero h1 {
        padding: 0;
    }

    .dark-mode h2.section-heading {
        padding: 20px;
        font-size: 30px;
    }

    .game-holder  ul.game-list {
        padding: 20px;
        padding-top: 0;
    }
    
    .game-holder  ul.game-list li {
        font-size: 20px;
    }

    .is-0-mobile {
        display: none;
    }

    .button-container {
        font-size: 14px;
        margin-bottom: 10px;
    }

    a.button.is-large {
        font-size: 1rem;
    }

    .tiles > .column {
        padding: 20px 10px;
    }
}